---
import SiteLayout from "@/layouts/SiteLayout.astro"
---

<SiteLayout title="Thanks for subscribing">
  <section class="py-16 text-center">
    <p>Thanks for subscribing to the Vivarium AI mailing list.</p>
  </section>
</SiteLayout>
