---
import ThemeSwitch from "@/components/ThemeSwitch.astro";
---

<header class="flex items-center justify-between h-14">
  <div class="text-sm font-semibold tracking-tight">
    <a href="/">Vivarium AI</a>
  </div>
  <nav class="hidden md:flex gap-4 text-sm items-end">
    <a href="/blog/">Blog</a>
    <a href="/docs/">Docs</a>
    <a href="/newsletters/">Newsletters</a>
    <a href="/papers/">Papers</a>

    <ThemeSwitch />
  </nav>
</header>
